<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/styles/company/edit.css">
    <title><%= title %></title>
  </head>
  <body>
    <div class="login-container text-c animated flipInX">
      <h3 class="text-whitesmoke">Add Company</h3>
      <div class="container-content">
        <form class="margin-t">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Company Name" id="companyName" value="<%= company.companyName %> ">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Registration Number" id="registrationNumber" value="<%= company.registrationNumber %> ">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Province" id="province" value="<%= company.province %> ">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="City" id="city" value="<%= company.city %> ">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Registration Date" id="registrationDate" value="<%= company.registrationDate %> ">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Telephone Number" id="telephoneNumber" value="<%= company.telephoneNumber %> ">
          </div>
          <a href="/<%= company._id %>" name="editCompany" class="button form-button button-l margin-b">Update</a>
          <a class="text-darkyellow" href="/"><small>Cancel</small></a>
        </form>
      </div>
    </div>
    <%- include('../partials/scripts.ejs') %>
      <script src="/scripts/company/edit.js"></script>
  </div>
  </body>
  </html>