<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/styles/company/edit.css">
    <title><%= title %></title>
  </head>
<body>
  <div class="container">
    <div class="header">
      <h2>Edit Company</h2>
      <form class="form" id="form">
        <div class="form-control" style="display: none">
          <input type="text" id="companyID" value="<%= company._id %> ">
        </div>
        <div class="form-control">
          <label for="companyName">Company Name</label>
          <input type="text" id="companyName" value="<%= company.companyName %> ">
          <i class="fas fa-check-circle"></i>
          <i class="fas fa-exclamation-circle"></i>
          <small>Error message</small>
        </div>
        <div class="form-control">
          <label for="registrationNumber">Registration Number</label>
          <input type="text" id="registrationNumber" value="<%= company.registrationNumber %> ">
          <i class="fas fa-check-circle"></i>
          <i class="fas fa-exclamation-circle"></i>
          <small>Error message</small>
        </div>
        <div class="form-control">
          <label for="province">Province</label>
          <input type="text" id="province"  value="<%= company.province %> ">
          <i class="fas fa-check-circle"></i>
          <i class="fas fa-exclamation-circle"></i>
          <small>Error message</small>
        </div>
        <div class="form-control">
          <label for="city">City</label>
          <input type="text" id="city" value="<%= company.city %> ">
          <i class="fas fa-check-circle"></i>
          <i class="fas fa-exclamation-circle"></i>
          <small>Error message</small>
        </div>
        <div class="form-control">
          <label for="registrationDate">Registration Date</label>
          <input type="text" id="registrationDate" value="<%= company.registrationDate %> ">
          <i class="fas fa-check-circle"></i>
          <i class="fas fa-exclamation-circle"></i>
          <small>Error message</small>
        </div>
        <div class="form-control">
          <label for="telephoneNumber">Telephone Number</label>
          <input type="text" id="telephoneNumber" value="<%= company.telephoneNumber %> ">
          <i class="fas fa-check-circle"></i>
          <i class="fas fa-exclamation-circle"></i>
          <small>Error message</small>
        </div>
        <button>Add</button>
      </form>
      <a class="text-darkyellow" href="/"><small>Cancel</small></a>
    </div>
  </div>
  <%- include('../partials/scripts.ejs') %>
  <script src="./scripts/company/edit.js"></script> -->
</body>
</html>
  </body>
  </html>