<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="./styles/employee/index.css" />
  </head>
  <body>
    <div class="container">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-6">
              <h2 id="example">List of<b> <%= company.companyName %>'s  Employees</b></h2>
            </div>
            <div class="col-sm-6">
              <a href="/<%= company._id %> /employees/insert" class="btn btn-success">
                <span>Add New Employee</span></a>
            </div>
          </div>
        </div>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>National Number</th>
              <th>gender</th>
              <th>age</th>
              <th>dateOfBirth</th>
              <th>Manager</th>
            </tr>
          </thead>
          <tbody>
            <% employees.forEach(employee=> { %>
            <tr>
              <td><%= employee.firstName %><%= employee.lastName %></td>
              <td><%= employee.nationalNumber %></td>
              <td><%= employee.gender %></td>
              <td><%= employee.age %></td>
              <td><%= employee.dateOfBirth %></td>
              <td><%= employee.manager %></td>
              <td>
                <a href="/<%= company._id %>/employees/<%= employee._id %>   " class="btn btn-success">Edit</a>
                <button onclick="deleteEmployee('<%=company._id%>')" class="btn btn-danger" name="deleteCompany">
                  Delete
                </button>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
    <%- include('../partials/scripts.ejs') %>
    <!-- <script src="./scripts/employee/index.js"></script> -->
  </body>
</html>

  </body>
</html>

